<ui:composition xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <div class="navbar">    
        <div class="container">
            <div id="headerBanner" class="row">
                <img src="resources/headerBanner.png" class="center-block" alt="Co-expression" />
            </div>
        </div>
        <div id="navcontainer" class="container">            
            <ul class="nav navbar-nav">
                <li><a href="home.xhtml">Home</a></li>
                <li><a href="step1.xhtml">Run the Tool</a></li>
                <li><a href="about.xhtml">About</a></li>
                <li><a href="webservice.xhtml">Web Services</a></li>
                <li><a href="credits.xhtml">Credits</a></li>
                <li><a href="feedback.xhtml">Feedback</a></li>   
            </ul>
        </div>
    </div>


</ui:composition>




