<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress Credits Page</ui:define>
    <ui:define name="page_content">    	
        <h3>CressExpress Contributors, <a href="http://lorainelab.com" target="_blank">Loraine Lab</a>, <a href="http://www.uncc.edu" target="_blank">UNCC</a></h3>
        <p>David Norris, CressExpress 2.0 Architect, Programmer, System Administrator</p>    
        <p>Nikhil Dahake, CressExpress 2.0 Programmer</p>
        <p>Hiral Vora, CressExpress 1.0 Programming</p>
        <p>Steven Blanchard, CressExpress 1.0 Programming and Systems Design</p>
        <p>Ann Loraine, Programming and Project Management</p>

        <br/>

        <h3>CressExpress Contributors - <a href="http://www.soph.uab.edu/ssg/" target="_blank">SSG</a>, <a href="http://www.uab.edu" target="_blank">UAB</a></h3>
        <p>Vinodh Srinivasan, Programming</p>

        <br/>

        <h3>CressExpress - Alumni</h3>
        <p>Grier Page, Statistics and Project Management, <a href="http://www.rti.org" target="_blank">RTI</a></p>
        <p>Mikako Kawai, Web Design, UAB</p>
        <p>Tapan Mehta, Programming, UAB</p>
    </ui:define>

</ui:composition>